<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POIT'2019</title>
    <style type="text/css"></style>
    <script src="static/libs/jquery-1.11.1.min.js"></script>
    <script src="static/libs/plotly-latest.min.js"></script>
    <script>
        $(document).ready(function(){
            
            $('#temperatureBtn').click(function(){ // Listen for click event on Temperature button
                
              $(this).addClass('active');
              $('#humidityBtn').removeClass('active');
                $('#entries').empty(); // Clear previous entries

                $.ajax({
                    type: "GET", // Use GET method to retrieve data
                    url: "/temperature_data", // Endpoint to fetch temperature data
                    success: function(data) {
                        data.forEach(function(row) { // Iterate through each row
                            // Convert Unix timestamp to Date object
                            var date = new Date(row.start_time * 1000);
                            // Format date and time
                            var formattedDateTime = date.toLocaleString();

                            // Create a clickable row with id and start_time
                            var $rowElement = $('<div class="clickable-row">' + row.id + ': ' + formattedDateTime + '</div>');
                            $rowElement.data('id', row.id); // Store row id as data attribute
                            $rowElement.data('start_time', row.start_time); // Store start_time as data attribute
                            $('#entries').append($rowElement);
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error("Error fetching temperature data:", error);
                    }
                });
            });
            $('#humidityBtn').click(function(){ // Listen for click event on Temperature button

              $(this).addClass('active');
              $('#temperatureBtn').removeClass('active');
                $('#entries').empty(); // Clear previous entries

                $.ajax({
                    type: "GET", // Use GET method to retrieve data
                    url: "/humidity_data", // Endpoint to fetch temperature data
                    success: function(data) {
                        data.forEach(function(row) { // Iterate through each row
                            // Convert Unix timestamp to Date object
                            var date = new Date(row.start_time * 1000);
                            // Format date and time
                            var formattedDateTime = date.toLocaleString();
                            
                            // Create a clickable row with id and start_time
                            var $rowElement = $('<div class="clickable-row">' + row.id + ': ' + formattedDateTime + '</div>');
                            $rowElement.data('id', row.id); // Store row id as data attribute
                            $rowElement.data('start_time', row.start_time); // Store start_time as data attribute
                            $('#entries').append($rowElement);
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error("Error fetching temperature data:", error);
                    }
                });
            });
            
            // Listen for click event on each clickable row
            $('#entries').on('click', '.clickable-row', function() {
                var rowId = $(this).data('id'); // Retrieve row id from data attribute
                var startTime = $(this).data('start_time'); // Retrieve start_time from data attribute
                // Simulate change event on #rowInput with row number as value
                $('#rowInput').val(rowId).trigger('change');
            });

            $('#rowInput').change(function(){
                var rowNumber = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/dbdata/" + rowNumber,
                    success: function(data) {
                        data = JSON.parse(data);
                        console.log(data);
                        n = Object.keys(data).length;
                        xl = [];
                        yl = [];
                        for (var i = 0; i < n; i++) {
                            xl.push(data[i].x);
                            yl.push(data[i].sensor_data);
                        }
                        let trace = [
                            {
                                x: xl,
                                y: yl,
                                mode: 'lines',
                                name: 'data'
                            }
                        ];
                        
                        console.log(data[0].start_time)
                        
                        // Convert Unix timestamp to Date object
                        var date = new Date(data[0].start_time * 1000);
                        // Format date and time
                        var formattedDateTime = date.toLocaleString();
                        var layout = {
                            title: formattedDateTime,
                            xaxis: {
                                title: 'time',
                                range: [0, xl.lenght+5]
                            },
                            yaxis: {
                                title: 'Value',
                                range: [Math.min(...yl)-3, Math.max(...yl)+3]  // Assuming the range for sin and cos values
                            }
                        };
                        Plotly.newPlot($('#plotdiv')[0], trace, layout);

                        // Display values below the graph
                        //var table = '<table border="1">';
                        //table += '<tr><th>x</th><th>sin_value</th><th>cos_value</th></tr>';
                        for (var i = 0; i < n; i++) {
                            $('#log').append('Received #'+data[i].x+': '+data[i].sensor_data+'<br>').html(); 
                            //table += '<tr>';
                            //table += '<td>' + data[i].x + '</td>';
                            //table += '<td>' + data[i].sin_value + '</td>';
                            //table += '<td>' + data[i].cos_value + '</td>';
                            //table += '</tr>';
                        }
                        //table += '</table>';
                        //$('#valueTable').html(table);
                    }
                });
            });
            
            
          $('form#disconnect').submit(function(event) {
              socket.emit('disconnect_request');
              localStorage.clear();
              return false; });  
            
            $('#temperatureBtn').trigger('click');

        });
    </script>
    
    </script>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
        /* Custom styles if needed */
        .gauge-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 20px;
        }
        #plotdiv {
            width: 100%;
            height: 300px;
        }
        canvas {
            width: 100%;
        }
        
        #left-area {
            height: 300px; /* Set a fixed height */
            overflow-y: auto; /* Enable vertical scrolling */
        }

        #log {
            max-height: 100%; /* Ensure the log stays within its parent's height */
        }
        
        
                /* Make the navbar span the entire width */
        .navbar {
            width: 100%;
            
        }
        
        .navbar-header {
            text-align: center;
            width: 100%;
        }

        .navbar-brand {
            display: inline-block;
            margin-left: 11rem;
        }
    </style>
</head>
<body>
    
    
    
    <div class="container">
        <!-- Navigation menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid d-flex justify-content-center align-items-center"> <!-- Add flexbox classes -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Temperature and Humidity Monitoring</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link mr-3" href="/graph">Graph</a>
                        </li>
                        <li class="nav-item">
                            <form id="disconnect" method="POST" action="#">
                                <input type="submit" value="Disconnect" class="btn btn-danger nav-link">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        
        <!-- Centered buttons -->
      <div class="text-center">
<!--
          <div class="mb-2">
              <button id="initializeBtn" class="btn btn-primary">Initialize</button>
          </div>
-->
          <div class="btn-group mb-2" role="group" aria-label="Temperature and Humidity">
              <button id="temperatureBtn" class="btn btn-secondary active" type="button">Temperature</button>
              <button id="humidityBtn" class="btn btn-secondary" type="button">Humidity</button>
          </div>
          
<!--
          <div class="mb-2">

                <button id="buttonVal" class="btn btn-success" type="submit" value="start">Start</button>

            </div>
          <div class="mt-3">
              <form id="disconnect" method="POST" action="#">
                  <input type="submit" value="Disconnect" class="btn btn-danger">
              </form>
          </div>
-->
      </div>  

        
        <div class="row mt-3">
            
            <div class="col-lg-3" style="margin-top: 3rem;">
                <input type="text" id="rowInput" placeholder="Enter row number">
                <div id="entries"></div>
            </div>
            
            <div class="col-lg-6">
                <!-- Middle area for plotly graph -->
                <div id="plotdiv"></div>
            </div>
            <div class="col-lg-3" style="margin-top: 3rem;">
                <!-- Left area for log -->
                <div id="left-area">
                    <div id="log" class="mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>





